body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

  background-color: #15202b;
}
.container {
  width: 100%;
  display: flex;
  min-height: 100vh;
}
.navigation-container {
  width: 20%;
  min-width: 70px;
  max-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #38444d;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.tweets-sidebar-container {
  display: flex;
  flex: 1;
}
.tweets-sidebar {
  width: 300px;
  height: 500px;
  margin-top: 30px;
  background: #192734;
  border-radius: 20px;
  overflow: hidden;
  position: fixed;
}
.tweets-trending {
  height: 200px;
  padding-top: 20px;
  border-radius: 40px;
}
.tweets-trending h5 {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 20px;
}
.tweets-trending ul {
  padding: 0;
  margin: 0;
}
.tweets-trending ul li {
  color: #a5a5a6;
  font-size: 16px;
  font-weight: 600;
  border-top: 0.5px solid #d8d8d8;
  padding: 8px 0;
  cursor: pointer;
  padding-left: 20px;
  list-style-type: none;
}

.tweets-list {
  margin: 20px;
  margin-top: 0;
}
.tweets-search-container {
  margin: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #979797;
}
.tweets-search-container input {
  flex: 1;
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}
.tweets-search-container input:focus {
  outline: none;
}
.tweets-search-container i {
  color: white;
  font-size: 30px;
  padding-left: 10px;
  cursor: pointer;
}
.navigation {
  color: white;
  margin-top: 30px;
  position: fixed;
  width: 20%;
  min-width: 70px;
  max-width: 100px;
}
.logo {
  display: flex;
  justify-content: center;
}
.logo i {
  font-size: 40px;

  color: #ffffff;
}
.home-link {
  display: flex;
  justify-content: center;
  border-right: 3px solid #00adff;
  align-items: center;
  height: 40px;
  margin-top: 20px;
  /* identical to box height */
}
.home-link a {
  text-decoration: none;
  color: #00adff;
}
.home-link i {
  font-size: 30px;
}
.profile-container {
  display: flex;
  justify-content: center;

  margin-top: 20px;
}
.profile {
  width: 45px;
  height: 45px;
  background-image: url('../images/sami.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid #979797;
}
.next-page-container {
  border: 1px solid #1c1c1c;
  border-radius: 20px;
  color: #47525d;
  margin: 20px;
  padding: 10px;
  text-align: center;
  justify-content: center;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  visibility: hidden;
}
.next-page-container:hover {
  background-color: #1c1c1c;
}
